.AboutContainer {
    display:flex;
    padding:20px;
    justify-content: center;
    gap:20px;
    
}

.AboutContainer div{
    padding: 20px;
    border-style: solid;
    border-color: #5b6e7e;
    border-radius: 5px;
    width: 28%;
    background-color:#aab5c0;
    text-align: center;
}
#theo{
    background-color: #5b6e7e;
    border-color:#27434d ;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 290px;
    margin:0;
}

#theo img {
    width: 92px;
    height: 110px;
}

#MogP {
    background-color: #5b6e7e;
    border-color:#27434d ;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 290px;
}
#MogP img{
    width: 90px;
    height: 140px;
}

#sebastian {
    background-color: #5b6e7e;
    border-color:#27434d ;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 260px;
    margin-left: 10px;
}
#sebastian img{
    width: 125px;
    height: 150px;
}

#klatring {
    background-color: #5b6e7e;
    border-color:#27434d ;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 270px;
}
#klatring img{
    width: 140px;
    height: 125px;
  
}

#venner {
    background-color: #5b6e7e;
    border-color:#27434d ;
    display: flex;
    justify-content: center;
    width: 275px;
    margin-left: 10px;
}
#venner img{
    width: 122px;
    margin-left: 10px;
}

#venner img:hover{
    transform;
    border-style: ridge;
    border-color: aquamarine;
}
}

#klatring img:hover{
    transform;
    border-style: ridge;
    border-color: aquamarine;
}

#MogP img:hover{
    transform;
    border-style: ridge;
    border-color: aquamarine;
}

#theo img:hover{
    transform;
    border-style:ridge;
    border-color: aquamarine;
}

#sebastian img:hover{
    transform;
    border-style:ridge;
    border-color: aquamarine;
}