p{
    text-align: center;
    font-size: 25px;
    font-style: bold;
}

.contact{
    color: #ebe7e7;
    background-color: #808691;
    align: center;
    padding: 50px;
    width: 300px;
    margin:20px;
}

#Dyr{
    text-align: center;
    font-size: 25px;
    font-style: bold;
}
main{
    margin:auto;
    max-width: 400px;
}

body{
    background-color: #eef3f4;
}

