
#prod.historieforteling{
    padding-top: 200px;
    padding-left:500px;
    font-size: 40px;   
}

#plakat {
    padding-top: 70px;
    padding-left:150px;
    font-size: 40px;
    font-style:oblique;
}

#alex {
    margin-top: 30px;
    margin-left:50px;
    width: 340px;
    height: 500px;
}

#harryPotter{
    margin-top: 20px;
    margin-left:50px;
    width: 650px;
    height: 500px;
}

#bokomslag{
    padding-top: 80px;
    padding-left:450px;
    font-size: 40px;
    font-style:oblique;
}
