body{
    background-color: #1f242d;
}

.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container img {
    width: 15%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid;
    transition: all ease-in-out .3s;
}

.container img:hover {
    width: 25%;
}
